version: '2' 
services:
  
  #  proxy:
  #    build: ./nginx
  #    ports:
  #      - "3000:3000"
  #    container_name: balancer

  db:
    image: mongo
    volumes:
      - "/var/mongo-data:/data/db"
      - "/var/mongo-backup:/opt"
    restart: on-failure
    container_name: database
  
  app:
      build:
        context: .
        args:
          NODE_URL: http://icoworld.projects.oktend.com:8545
          ETH_NODE_URL: http://icoworld.projects.oktend.com:8545
          ETH_PRIVATE_KEY: ""
          ETH_FROM_ACCOUNT: "0x007ccffb7916f37f7aeef05e8096ecfbe55afc2f"
          ETH_DEPLOY_PRICE: "100000" 
          PORT: 3000
          DB_URI: mongodb://db:27017/ico_world_db
      image: ico/backend:$BUILD_ID
      container_name: backend-$BUILD_ID
      ports:
        - "3000:3000"
